section.gallery#gallery
  .parent
    h2.gallery__title Photo gallery
    hr.gallery__divider
  .gallery__images
    .gallery__images--wrapper
      img(src="img/auburn-football-two.jpg" alt="")
    .gallery__images--wrapper
      img(src="img/ingram-house.jpg" alt="")
    .gallery__images--wrapper
      img(src="img/auburn-shower.jpg" alt="")
    .gallery__images--wrapper
      img(src="img/proposal-kneel.jpg" alt="")
    .gallery__images--wrapper
      img(src="img/bbb-registry.jpg" alt="")
    .gallery__images--wrapper
      img(src="img/short-hike.jpg" alt="")
    .gallery__images--wrapper
      img(src="img/chickfila-bowl.jpg" alt="")
    .gallery__images--wrapper
      img(src="img/valentines.jpg" alt="")
    .gallery__images--wrapper
      img(src="img/mumford-concert.jpg" alt="")
    .gallery__images--wrapper
      img(src="img/snow-athens.jpg" alt="")
