meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="Wedding website for William King and Alison Ingram")
meta(name="author" content="Golden Rule")


<!-- favicon -->
link(rel="apple-touch-icon-precomposed" href="assets/favicon/apple-touch-icon-152x152-precomposed.png")
link(rel="icon" href="assets/favicon/favicon.png")
<!--[if IE]><link rel="shortcut icon" href="assets/favicon/favicon.ico"><![endif]-->
<!-- or, set /favicon.ico for IE10 win -->
meta(name="msapplication-TileColor" content="#2C3E50")
meta(name="msapplication-TileImage" content="assets/favicon/tileicon.png")

<!-- Facebook Sharing -->
meta(property="og:title" content="IJustCantWaitToBeKing")
meta(property="og:url" content="http://www.ijustcantwaittobeking.info/")
meta(property="og:type" content="profile")
meta(property="og:description" content="Wedding website for William King and Alison Ingram")
meta(property="og:image" content="http://www.alisoningram.co/assets/img/alison_cropped@0.5x.jpg")

<!-- Twitter Sharing -->
meta(property="twitter:title" content="IJustCantWaitToBeKing")
meta(property="twitter:url" content="http://www.ijustcantwaittobeking.info/")
meta(property="twitter:card" content="Image")
meta(property="og:description" content="Wedding website for William King and Alison Ingram")
meta(property="og:image" content="www.alisoningram.co/assets/images/alison_cropped@0.5x.jpg")


link(rel="stylesheet" href="css/main.css")
link(rel="stylesheet" type="text/css" href="slick/slick.css")
link(rel="stylesheet" type="text/css" href="slick/slick-theme.css")
title IJustCantWaitToBeKing
