section.hero#hero
  .parent
    .hero__img
      img(src="img/hero.jpg" alt="Engagement Photo of Ali and Will")
    h2.hero__title Our Wedding
    hr.hero__divider
    p.hero__content Saturday, November 19, 2016
    p.hero__content 2:00 PM CST
    h4.hero__countdown #[span#daysLeft 200] #[br] Days Left!
    h3.hero__subtitle The Ceremony & Reception
    p.hero__content The Oaks Plantation
    p.hero__content Avenue of the Oaks, Pike Road, AL 36064
    h3.hero__subtitle Accomodations
    p
      a(href="http://hamptoninn3.hilton.com/en/hotels/alabama/hampton-inn-and-suites-montgomery-eastchase-MGMHSHX/index.html" target="_blank").hero__links Hampton Inn & Suites
    p
      a(href="https://www.ihg.com/staybridge/hotels/us/en/montgomery/mgmln/hoteldetail?cm_mmc=GoogleMaps-_-SB-_-USA-_-MGMLN" target="_blank").hero__links Staybridge Suites
  .hero__overlay(onClick="style.pointerEvents='none'")
  iframe.hero__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26962.536448615025!2d-86.04614668513298!3d32.35703918110086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888c33b749c07fe5%3A0xa134c189036f8c91!2sThe+Oaks+Plantation!5e0!3m2!1sen!2sus!4v1462052057502" frameborder="0" style="border:0" allowfullscreen)
      
