nav.nav
  .parent
    h1.nav__title William & Alison
    ul.nav__links
      li 
        a(href="#story").smoothScroll Our Story
      li 
        a(href="#party").smoothScroll Wedding Party
      li 
        a(href="#gallery").smoothScroll Photo Gallery
      li 
        a(href="#registry").smoothScroll Registry
  //  .nav__icon-click            
  //    .nav__icon
  //      span.span-color
  //      span.span-color
  //      span.span-color
  //      span.span-color
  //ul
  //  li Our Story
  //  li Wedding Party
  //  li Photo Gallery
  //  li Registry
