section.party#party
  .parent
    h2.party__title Wedding Party
    hr.registry__divider
    .party__bridesmaids
      .party__bridesmaids__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__bridesmaids__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__bridesmaids__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__bridesmaids__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__bridesmaids__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__bridesmaids__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__bridesmaids__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
    .party__groomsmen
      .party__groomsmen__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__groomsmen__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__groomsmen__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__groomsmen__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__groomsmen__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__groomsmen__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
      .party__groomsmen__member
        h3 Matron of Honor - Kaylee Searcy
        p It’s the ones closest to you that want to see you fail. Bless up. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.
  .parent 
    .party__munchkins
      h3 The Munchkins
      h4 Flowergirls
      ul
        li Harper King
        li Charlotte Jones
        li Lydia Smelser
      h4 Ringbearer
      ul
        li Gibson King
