section.party#party
  .parent
    h2.party__title Wedding Party
    hr.registry__divider
    .party__bridesmaids
      .party__bridesmaids__member
        h3 Maid of Honor - Savanna Spohn
        p  Camp friend for more than a decade, charter member of House 25, known as "Sav", the most reliable person you will ever meet
      .party__bridesmaids__member
        h3 Matron of Honor - Kaylee Searcy
        p  Another member of House 25, Marine wife, queso lover, One Tree Hill fan, fellow Reese’s lover, the most joyous person I know
      .party__bridesmaids__member
        h3 Bridesmaid - MaKayla Chittam
        p Fellow member of House 25, known as “Gayla”, not sure if she’s really 15 or 40, the best cook, the mother figure we all needed in House 25
      .party__bridesmaids__member
        h3 Bridesmaid - Emily Ingram
        p  Future pharmacist, my favorite sister-in-law, smartest girl I know, but dumb enough to marry my brother
      .party__bridesmaids__member
        h3 Bridesmaid - Madeline Pendley
        p Middle school and high school co-conspirator, the most driven girl I know, known to my family as “Buzz.” Don’t ask. Really.
      .party__bridesmaids__member
        h3 Bridesmaid - Katie McDaniel
        p First best friend and first cousin. We broke a lamp during our great grandfather’s visitation. It’s still all her fault
      .party__bridesmaids__member
        h3 Bridesmaid - Kathleen McGahan
        p  Cohort C pal, Leon Bridges' #1 fan, new mom to a Goldendoodle named "Scout", future star teacher
    .party__groomsmen
      .party__groomsmen__member
        h3 Best Man - Ryan Hilliard
        p Best friend since birth, newlywed, coffeemaker extraordinaire
      .party__groomsmen__member
        h3 Groomsman - Seth King
        p Brother since birth, always there when you need help, the next Lance Armstrong
      .party__groomsmen__member
        h3 Groomsman - Clint Davis
        p Roommate, Star Wars fanatic, getting hitched December 2016
      .party__groomsmen__member
        h3 Groomsman - Gene Williams
        p Californian, Industrial Design bro, will start a debate with anyone. Seriously.
      .party__groomsmen__member
        h3 Groomsman - Patrick Murphy
        p Industrial Design bro #2, outdoor fanatic, gold medalist in rope swing
      .party__groomsmen__member
        h3 Groomsman - Bo Ingram
        p Brother of the Bride, Tormentor of the Ages, out-kicked his coverage by marrying Emily, probably still plays with legos
      .party__groomsmen__member
        h3 Groomsman - Ty Randolph
        p Friend, adventure junkie, future groundskeeper for Fenway Park
  .parent 
    .party__munchkins
      h3 The Munchkins
      h4 Flower Girls
      ul
        li Harper King
        li Charlotte Jones
        li Lydia Smelser
      h4 Ring Bearer
      ul
        li Gibson King
