section.registry#registry
  .parent
    h2.registry__title Registry
    hr.registry__divider
    a(href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=543264180&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos" target="_blank").registry__shadowBox
      img.registry__bbb(src="img/bbb-logo.png" alt="Bed, Bath, and Beyond logo")
    a(href="http://www.target.com/gift-registry/registry/7Xv5teX-CgWLtssLp4i7BQ?lnk=copiedLink" target="_blank").registry__shadowBox
      img.registry__target(src="img/target-logo.png" alt="Target logo")
    a(href="https://www.amazon.com/wedding/will-king-ali-ingram-montgomery-november-2016/registry/QUVQEKLYBN8I" target="_blank").registry__shadowBox
      img.registry__amazon(src="img/amazon-logo.png" alt="Amazon logo")
