section.registry#registry
  .parent
    h2.registry__title Registry
    hr.registry__divider
    .registry__shadowBox
      img.registry__bbb(src="img/bbb-logo.png" alt="Bed, Bath, and Beyond logo")
    .registry__shadowBox
      img.registry__target(src="img/target-logo.png" alt="Target logo")
    .registry__shadowBox
      img.registry__amazon(src="img/amazon-logo.png" alt="Amazon logo")
