.nav {
  &__title {
    font-size: 72px;
  }
  &__links {
    list-style-type: none;
    & li {
      display: inline;
      padding: 0 .75em;
    }
    & li a {
      text-decoration: none;
      font-family: $serif;
      font-size: ms(0);
      color: #999;

      &:hover {
        color: $text-color-dark;
      }
    }
  }
}

@media (max-width: 1024px) {
  .nav {
    &__title {
      font-size: 56px;
    }
    &__links {
      & li {
        display: inline;
        padding: 0 1em;
      }
    }
  }
}

@media (max-width: $M) {
  .nav {
    &__title {
      font-size: 56px;
      margin-bottom: 0;
    }
    &__links {
      margin: 0;
      & li {
        display: inline;
        padding: 0 1em;
      }
    }
  }
}

@media (max-width: $S) {
  .nav {
    &__title {
      line-height: 1.15;
    }
  }
}
